@model Lab8MVC.Models.Product

@{
    ViewData["Title"] = "Edit";
}


<h2>Edit Product</h2>
<form asp-action="Edit" method="post" class="form">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
</form>
